@view-transition { navigation: auto; }

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* variables */

@media (min-width: 0px)    { :root { --screen-width: 0;    } }
@media (min-width: 320px)  { :root { --screen-width: 320;  } }
@media (min-width: 640px)  { :root { --screen-width: 640;  } }
@media (min-width: 960px)  { :root { --screen-width: 960;  } }
@media (min-width: 1280px) { :root { --screen-width: 1280; } }
@media (min-width: 1600px) { :root { --screen-width: 1600; } }
@media (min-width: 1920px) { :root { --screen-width: 1920; } }
@media (min-width: 2240px) { :root { --screen-width: 2240; } }
@media (min-width: 2560px) { :root { --screen-width: 2560; } }
@media (min-width: 2880px) { :root { --screen-width: 2880; } }
@media (min-width: 3200px) { :root { --screen-width: 3200; } }
@media (min-width: 3520px) { :root { --screen-width: 3520; } }
@media (min-width: 3840px) { :root { --screen-width: 3840; } }

:root {
  --color-background: #000000;
  --color-text: #F0F0F0;
  --color-black: #0F0F0F;
  --color-white: #FFFFFF;
  --color-gray: #AAAAAA;
  --color-blue: #00FFFF;
  --color-red: #FF0000;
  --color-yellow: #FFFF00;
  --color-purple: #FF00FF;

  --font-size: 1rem;
  --font-size-ratio: calc(var(--screen-width) * 0.00025 + 1.2);
  --font-size-6: var(--font-size);
  --font-size-5: calc(var(--font-size-6) * var(--font-size-ratio));
  --font-size-4: calc(var(--font-size-5) * var(--font-size-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--font-size-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--font-size-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--font-size-ratio));
  
  --line-height: 1.5;
  --line-height-ratio: 0.9;
  --line-height-6: var(--line-height);
  --line-height-5: calc(var(--line-height-6) * var(--line-height-ratio));
  --line-height-4: calc(var(--line-height-5) * var(--line-height-ratio));
  --line-height-3: calc(var(--line-height-4) * var(--line-height-ratio));
  --line-height-2: calc(var(--line-height-3) * var(--line-height-ratio));
  --line-height-1: calc(var(--line-height-2) * var(--line-height-ratio));

  --font-family-text: Manrope, sans-serif;
  --font-family-headings: Manrope, sans-serif;
  --font-light: 200;
  --font-medium: 500;
  --font-bold: 800;

  --border-radius: 5px;
  --space-scaled: calc(var(--screen-width) * 0.001vw + 1rem);
}

/* pseudo */

::view-transition-old(root) { 
  animation: 0.4s ease-in both fade-out; 
}
::view-transition-new(root) { 
  animation: 0.4s ease-in both fade-in; 
}
::selection {
  color: var(--color-background);
  background: var(--color-text);
}
::placeholder {
  color: var(--color-dimmed);
  opacity: 0.5;
}
::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 10px;
}

/* normalization */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  overscroll-behavior: none;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font: 300 62.5%/1 sans-serif;
}
body {
  font: var(--font-light) var(--font-size-5)/var(--line-height-5) var(--font-family-text, sans-serif);
  color: var(--color-text);
  background: var(--color-background);
  overflow-x: hidden;
}
img, picture {
  object-fit: contain;
}
source {
  display: none;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
hr {
  height: 0.1px;
  background: var(--color-text);
}
a {
  text-decoration: none;
  color: var(--color-text);
}
a, button {
  cursor: pointer;
}
textarea {
  white-space: revert;
}
button, input, textarea, select, option {
  color: var(--color-text);
  background: var(--color-background);
  padding: 1rem;
  margin: .1rem;
  border: 1px solid #66666666;
  border-radius: .1rem;
  transition: all 0.2s ease-in-out;
  font: var(--font-light) var(--font-size-5)/var(--line-height-5) var(--font-family-text);
}

input[type=color] {
  padding: 0;
  margin: 0;
  border: 0;
}
p, ul {
  /* line-height: 2; */
}

h1 { font: var(--font-light) var(--font-size-1)/var(--line-height-1) var(--font-family-headings); margin-bottom: var(--font-size-1) }
h2 { font: var(--font-light) var(--font-size-2)/var(--line-height-2) var(--font-family-headings); margin-bottom: var(--font-size-2) }
h3 { font: var(--font-light) var(--font-size-3)/var(--line-height-3) var(--font-family-headings); margin-bottom: var(--font-size-3) }
h4 { font: var(--font-light) var(--font-size-4)/var(--line-height-4) var(--font-family-headings); margin-bottom: var(--font-size-4) }
h5 { font: var(--font-light) var(--font-size-5)/var(--line-height-5) var(--font-family-headings); margin-bottom: var(--font-size-5) }
h6 { font: var(--font-light) var(--font-size-6)/var(--line-height-6) var(--font-family-headings); margin-bottom: var(--font-size-6) }

text {
  font-family: inherit;
}

/* utility */

.mask {
  overflow: hidden;
  height: auto;
}
@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.line-through {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.line-hidden {
  opacity: 0.2;
}

code-block {
  display: block;
  border: 1px solid #6666;
  padding: var(--font-size-4);
  white-space: pre;
  overflow-x: scroll;
}

code {
  display: block;
  width: 100%;
}

code-file {
  display: inline-block;
  padding:  var(--font-size-6) var(--font-size-4);
  margin: var(--font-size-5) 0 -1px 0;
  border-bottom: #E6EDF3 1px solid;
  background: var(--color-background);
  font-weight: var(--font-medium);
}

main > * {
  display: block;
  padding: 6rem calc(var(--space-scaled) * 2);
}
  main > * > h1,
  main > * > h2,
  main > * > h3 {
    text-transform: uppercase;
  }

example-explanation {
  padding: 0 0 var(--font-size-5) 0;
  display: block;
}

div.empty {
  padding: var(--font-size-5);
}
